<p>
  <section id="specific-state-name">
    <%= @state_final.first.name %>
  </section>
  <section id="specific-state-description">
    <%= @state_final.first.description %>
  </section >
  <section id="specific-state-flag_image">
    <%= image_tag "#{@state_final.first.flag_image}" %>
  </section>
  <section id="specific-state-capitol_name">
    <%= @state_final.first.capitol_name %>
  </section>
  <section id="specific-state-population">
    <%= @state_final.first.population %>
  </section>
  <section id="specific-state-facts">
    <%= @state_final.last %>
  </section>
</p>
